.content-icon {
  padding: 0 !important;
  background-color: white;
}

.navbar {
  padding: 12px !important;
}

.services {
  padding-top: 50px;
  padding-bottom: 50px;
}

.img-responsive {

  width: 300px;
  height: 200px;
  margin: 10px;
  padding: 0;
}

.section-title {
  padding-bottom: 20px !important;
}

#departamentos {
  padding-top: 25px;
  padding-bottom: 25px;
}

#departamentos img {
  object-fit: contain;
}

.team-info {
  padding: 0;
}

address {
  display: flex;
  flex-direction: column;
}

.services img {
  object-fit: contain;
}